@keyframes slideUpFadeIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animation-slideUpFadeIn {
  animation-name: slideUpFadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

body {
  background-image: url(https://Milopadma.github.io/images/bg1.jpg);
  background-attachment: fixed;
  background-position: 0px -600px;
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
}

.center {
  /* center a div */
  display: table;
  margin: 0 auto;
  padding: 10px;
}

.unifont {
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  font-size: calc(15px + 0.33vw);
  padding: 2vh 10vw;
}

.size {
  font-size: 1.5em;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  align-content: center;
  padding-left: 30%;
}

.button {
  /* create a button */
  background-color: #595c59;
  border: none;
  padding: 15px 32px;
  margin: 0 -0.2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.header-button {
  /* create a button */
  border: 1px solid red;
  background-color: #595c59;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 0.2vh 1vh;
  margin: 0 0.1em 0.1em 0;
  box-sizing: border-box;
  transition: all 0.7s;
  font-size: calc(15px + 0.33vw);
}

.header-button:hover {
  background-color: #717571;
  color: white;
  cursor: pointer;
}

.box {
  background-color: #2b2b2b;
  border: none;
  padding: 15px 32px;
  margin: 0 -0.2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  font-weight: bold;
  cursor: default;
}

.box-nobg {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  display: block;
  cursor: default;
}

.button:hover {
  background-color: #717271;
  cursor: pointer;
  font-size: 1.1em;
  opacity: 0.6;
}

/* main css */
p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.2em;
  max-width: 28em;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  display: block;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: #717171;
}

a:hover::after {
  top: 0;
}

/* gridSystem */
.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 40px auto 40px;
  grid-gap: 3px;
  grid-template-areas:
    "header header header"
    "main main ."
    "footer footer footer";
}

.header {
  background-color: #595c59;
  grid-area: header;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main {
  animation: 0.7s ease-out 0s 1 slideUpFadeIn;
  margin-top: 30px;
  grid-area: main;
  text-align: left;
  border: 1px solid red;
}

.footer {
  grid-area: footer;
  border: 1px solid red;
}

@media (max-width: 500px) {
  .header-button {
    font-size: 5vw;
    padding: 0.1em 9em;
  }

  .main{
    margin-top: 25vw;
  }


  .header{
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column; 
    align-items: left;

  }

  
}