@keyframes slideUpFadeIn {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes gradientText {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

.animation-slideUpFadeIn {
  animation-name: slideUpFadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10; 
  background-image: url(./images/bg1.jpg); 
  background-color: black; 
  overflow-x: hidden;
} */

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #000000 url(./images/bg1.jpg); */
  background-color: #2b2b2b;
  background-attachment: fixed;
  background-position: 0px -51vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.center {
  /* center a div */
  display: table;
  margin: 0 auto;
  padding: 10px;
}

.unifont {
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  font-size: calc(15px + 0.33vw);
  padding: 2vh 10vw;
}

.size {
  font-size: 1.5em;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  align-content: center;
  padding-left: 30%;
}

.button {
  /* create a button */
  background-color: #595c59;
  border: none;
  padding: 15px 32px;
  margin: 0 -0.2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.header {
  grid-area: header;
  background-color: #595c59;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: #151515 1px 12px 50px;
}


.header-button {
  /* create a button */
  background-color: #595c59;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 0.2vh 1vh;
  margin: 0 0.1em 0.1em 0;
  /* transition: all 0.7s; */
  font-size: calc(15px + 0.33vw);
}

.header-button:hover {
  background-color: #717571;
  cursor: pointer;
}

.box {
  background-color: #2b2b2b;
  border: none;
  padding: 15px 32px;
  margin: 0 -0.2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  font-weight: bold;
  cursor: default;
}

.box-nobg {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  display: block;
  cursor: default;
}

/* main css */
p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.2em;
  max-width: 28em;
}

.gradient-animation-text {
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  background-position: -100%;
  animation: gradientText 3s infinite alternate-reverse;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  display: block;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: #44b12ec4;
}

a:hover::after {
  top: 0;
}

/* gridSystem */
.container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 40px auto 40px;
  grid-gap: 3px;
  grid-template-areas:
    "header header header"
    "main main main"
    "footerLeft . footerRight";
}


.main {
  grid-area: main;
  padding: 16px;
  padding-left: 128px;
  padding-right: 128px;
  animation: 0.7s ease-out 0s 1 slideUpFadeIn;
  margin-top: 30px;
  text-align: left;
  box-shadow: #151515 1px 12px 50px;
}

@media screen and (max-width: 768px) {
  .main{
    grid-area: main;
    padding: 16px;
    animation: 0.7s ease-out 0s 1 slideUpFadeIn;
    margin-top: 30px;
    text-align: left;
    box-shadow: #151515 1px 12px 50px;
  }
  
}

/** sites.html css here  */
.sites-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sites-container h1{
  font-size: calc(1.3em + 0.33vw);
  font-weight: bold;
  margin-bottom: 8px;
  align-self: flex-start;
}

.sites-container img{
  width: 64vw;
  height: 30vw;
  object-fit: cover;
  border-left: 4px solid #544f4c;
  border-right: 4px solid #544f4c;
  border-radius: 0.3em;
  padding: 0px 8px;
}

.sites-container p{
  align-self:flex-start;
  margin-bottom: 32px;
}

/** footer css here  */
.footerLeft {
  grid-area: footerLeft;
  position: relative;
  left: 10vw;
  height: 50px;
  margin-top: 10em;
  font-size: calc(12px + 0.33vw);
}

.footerRight {
  grid-area: footerRight;
  position: relative;
  text-align: end;
  right: 10vw;
  height: 50px;
  margin-top: 10em;
  font-size: calc(12px + 0.33vw);
}


/** timeline in portfolio.html */
/* this is the actual timeline line */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline p {
  margin-right: 32px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  top: 0; /*start from the top of the div*/
  bottom: 0; /*extends it to the bottom of the div*/
  left: 50%; /*centers it horizontally*/
  margin-left: -3px;
  border-radius: 400px;
}

/* this here is the container around content */
.tlcontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.tlleft {
  left: 0%;
}

.tlright {
  left: 50%;
}

/*arrows pointing right for left container */
.tlleft:before {
  content: "";
  height: 0;
  position: absolute;
  top: 55px;
  width: 0;
  z-index: 1;
  right: 90px;
  border: medium solid white;
  border-color: transparent transparent transparent white; /*this makes the shape*/
  border-width: 10px 0 10px 10px;
}

/* arrows pointing left for right container */
.tlright:before {
  content: "";
  height: 0;
  position: absolute;
  top: 55px;
  width: 0;
  z-index: 1;
  left: 10px;
  border: medium solid white;
  border-color: transparent white transparent transparent; /*this makes the shape*/
  border-width: 10px 10px 10px 0;
}

/* the actual content */
.tlcontent {
  padding: 10px 10px;
  position: relative;
  border-radius: 6px;
  margin-right: 32px;
}

/** media queries for responsive timeline on <800px wide screens */
@media screen and (max-width: 2100px) {
  /* place the timeline to the left */

  .timeline:after {
    left: 31px;
  }

  /* full width containers */
  .tlcontainer {
    font-size: 15px;
    width: 80%;
    padding-left: 70px;
    padding-right: 25px;
    padding-top: 1px;
    padding-right: 0;

  }

  .tlcontent {
    padding: 20px 10px;
  }

  /* this is to make sure all arrows are pointing to the left */
  .tlcontainer::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .tlleft {
    left: 0;
  }

  /* this is to make sure all circles are at the same spot */
  .tlleft::after,
  .tlright::after {
    left: 15px;
  }

  /* this is to make sure all right containers behave like the left ones */
  .tlright {
    left: 0%;
  }

  .timeline p {
    margin-right: 0px;
  }
  
  .header{
    box-shadow: #1d1c1c 1px 18px 30px;
  }
}

@media (max-width: 512px) {
  body {
    padding-top: 1px;
    margin-top: 2px;
    background-position: 0px -28vh;
    background-attachment: initial;
    position: relative;
  }

  /* body::before {
  } */

  html {
    width: 100%;
  }

  .header-button {
    font-size: 5vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  /* #home {
    padding-left: 1.8em;
  }

  #contact {
    padding-right: 1.8em;
  } */
  /* 
  #home {
    padding: 0.15em 44vw;
  }

  #portfolio {
    padding: 0.15em 36.4vw;
  }

  #sites {
    padding: 0.15em 42.4vw;
  }

  #contact {
    padding: 0.15em 39.5vw;
  } */

  .header {
    background-color: rgba(0, 0, 0, 0);
    flex-direction: row;
    align-items: left;
    width: 100%;
  }
}